kind: ApplicationSet
apiVersion: argoproj.io/v1alpha1
metadata:
  name: kyverno
  namespace: argocd
spec:
  generators:
  - clusters:
      selector:
        matchLabels:
          argocd.argoproj.io/secret-type: cluster
  template:
    metadata:
      name: 'cluster-{{name}}-kyverno'
      annotations:
        argocd.argoproj.io/sync-wave: "1"
      finalizers:
      - resources-finalizer.argocd.argoproj.io
    spec:
      project: "default"
      sources:
      - chart: kyverno
        repoURL: https://nirmata.github.io/kyverno-charts/
        targetRevision: 3.1.14
        helm:
          releaseName: kyverno
          valuesObject:
            kyverno.fullname: kyverno
      destination:
        server: '{{server}}'
        namespace: kyverno
      syncPolicy:
        syncOptions:
        - Replace=true
        - CreateNamespace=true
        automated:
          selfHeal: true
          prune: true
        retry:
          limit: 30
          backoff:
            duration: 5s
            factor: 2
            maxDuration: 3m0s
